@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: lightblue;
}

.btn-group {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.btn {
  font-size: 24px;
  background-color: rebeccapurple;
  border: none;
  border-radius: 5px;
  padding: 1rem;
  color: #fff;
  cursor: pointer;
  transition: transfrom .3s ease-out, background-color .3s ease;
}

.btn:hover {
  transfrom: scale(0.98);
  background-color: mediumpurple;
}